{:maven
 {:mirrors 
  {"central" {:name "Aliyun"
              :url "https://maven.aliyun.com/nexus/content/groups/public/"}
   "clojars" {:name "USTC"
              :url "https://mirrors.ustc.edu.cn/clojars/"}}
  :local-repo "~/.cache/m2"}} 
 
